.cal-container{
    /* grid-area: cal; */
    background-color: var(--bg);
    position: absolute;
    height: 100vh;
    width: 100vw;
    transition: all 400ms;
    /* overflow-x: hidden; */
    overflow-y: scroll;
}

.weekday{
    /* width: auto; */
    padding: 1em;
}

.cal-container::-webkit-scrollbar {
    display: none;
}

.calendar::-webkit-scrollbar {
    display: none;
}

.calendar{
    font-family: sans-serif;
    overflow-y: scroll;
    overflow: auto;
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */
    transition: all 1s;
}

div#HIDE{
    display: none;
}
div#THU{
    grid-area: thu;
}
div#FRI{
    grid-area: fri;
}
div#SAT{
    grid-area: sat;
}
div#SUN{
    grid-area: sun;
}
