.cal-container{
    /* grid-area: cal; */
    background-color: rgb(229, 63, 233, 0.9); 
    /* opacity: 0.7; */
    position: absolute;
    top: 12em;
    right: 0em;
    height: auto;
    min-height: auto;
    width: 50em;
    transition: all 400ms;
    overflow-y: scroll;
    z-index: 1;
    margin-right: 2em;
    /* background-color: aliceblue; */
}


.cal-container::-webkit-scrollbar {
    display: none;
    color: transparent;
    scrollbar-width: none;
}

.calendar::-webkit-scrollbar {
    display: none;
    color: transparent;
    scrollbar-width: none;
}


.calendar{
    font-family: sans-serif;
    overflow-y: scroll;
    overflow: auto;
    transition: all 1s;
    display: grid;
    grid-template-areas: "thu"
                         "fri"
                         "sat"
                         "sun"
                         "."
    ;    
}

div#HIDE{
    display: none;
}
div#THU{
    grid-area: thu;
    padding-top: 1em;
}
div#FRI{
    grid-area: fri;
}
div#SAT{
    grid-area: sat;
}
div#SUN{
    grid-area: sun;
    border-bottom: 0;
    padding-bottom: 3em;
}


@media only screen and (max-width: 600px) {
    .cal-container{
        width: 100%;
        margin-right: 0;
        top: 8em;
    }
    .calendar{
        width: 100%;
    }

}



