
*{
  margin: 0;
  padding: 0;
  font-family: var(--font);
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: CabinCondensed;
  /* src: url("../public/Font/Cabin_Condensed/CabinCondensed-Regular.ttf"); */
  src: url("../public/Font/Georama/Georama-Medium.ttf");
}
@font-face {
  font-family: Cadiz;
  src: url("../public/Font/cadiz-regular-webfont.woff");
}
:root {
  --bg: #687da1;
  --bg-accent: #484a4d;
  --evTimeColor: pink;
  --nav-size: 60px;
  --border: 1px solid #474a4d; 
  --border-radius: 8px;
  --speed: 500ms;
  --bg-menu: #fff;
  --font: Cadiz;
}



ul {
  list-style: none; 
  margin: 0;
  padding: 0;
}

a{
  color: var(--text-color);
  text-decoration: none;
}

.navbar{
  height: var(--nav-size);
  background-color: var(--bg);
  padding: 0 1rem;
  border-bottom: var(--border);
}

.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav-item{
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button {
  --button-size: calc(var(--nav-size) * 0.5)
}

.icon-button svg {
  fill: var(--text-color);
  width: 20px;
  height: 20px;
  
}

/* 
  Calendar -----
*/
/* .cal-menu-container {
  background-color: #fff;
  width: 100%;
  min-height: 4em;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-around;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.down {
  border-width: 0 5px 5px 0;
  transition: 1s;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
} */

/*
.cal-menu {
  width: 100%;
  height: 4em;
  background-color: #fff;
  display: flex;
  position: absolute;
  width: calc(100% / 2);
  justify-content: space-around;
  align-items: center;
  text-align: center;
  bottom: 0em;
} */


/* .dropdown-container{
  overflow: scroll;
} */

.dropdown{
  position: absolute;
  bottom: 64px;
  width: 300px;
  background-color: var(--bg-menu);
  height: 100vh;
  width: 100%;
  /* z-index: -1; */
  /* transform: translateY(100%); */
  /* overflow: auto; */
  overflow: scroll;
/* Optional: show position indicator in red */
}
.dropdown::-webkit-scrollbar {
  display: none;
}


.dd-menu-item{
  height: 50px;
  display: flex;
  bottom: 0;
  align-items: center;
  transition: background 300ms;
  padding: 0.5rem;
}

.dd-menu-item:hover {
  background-color: violet;
}

.bg-visual{
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-color: #000;
}


/* 
  reusable css classes
*/
.translateUp{
  transform: translateY(100%);
}



