.audioPlayer{
    grid-area: audio;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    width: 14em;
    height: 5em;
}

.playButton{
    width: 5em;
    height: 5em;
}

.playButton .play{
    box-sizing: border-box;
    border: var(--play-col) 1em solid;
    width: 5em;
    height: 5em;
    border-width: 2.3em 0px 2.3em 4.3em;
    border-color: transparent transparent transparent var(--play-col);
}

.playButton .pause{
    transition: cubic-bezier(1s);
    box-sizing: border-box;
    border: var(--play-col) 1em solid;
    background-color: var(--play-col);
    width: 5em;
    height: 5em;
    /* border-width: 6em 0px 6em 6em; */
    border-color: var(--play-col);

}

.sliderContainer{
    /* height: 8em; */
    width: 5em;
    /* -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg); */
    
    transition: all ease-out 200ms;
    opacity: 0;
}
.sliderMove{
    height: 100%;
}
/* transform: translateY(-400%); */

.sliderContainer.show{
    transition: all ease-in 500ms;
    height: 2em;
    border: solid 1px green;
    /* -webkit-transform: translateY(300%);
    -moz-transform: translateY(300%);
    -ms-transform: translateY(300%);
    -o-transform: translateY(300%);
    transform: translateY(300%); */
    opacity: 1;
}


.volumeSlider{
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    /* background-image: '../../Images/Svg/welleInc.svg'; */
    background: var(--play-col);
    width: 100%;
    height: 0.5em;
    outline: none; /* Remove outline */
}
.volumeSlider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 0.8em; /* Set a specific slider handle width */
    height: 2em; /* Slider handle height */
    background: var(--play-col); /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.volumeSlider::-moz-range-thumb {
      width: 0.8em; /* Set a specific slider handle width */
      height: 2em; /* Slider handle height */
      background: var(--play-col); 
      background: var(--play-col);
      border-radius: 0;
      border-color: transparent;
      cursor: pointer; /* Cursor on hover */
  }