.nextup{
    grid-area: nextup;
    width: 30em;
    min-height: 30em;
    /* height: 16em; */

}

.preview{
    margin: 1em;
    font-size: 1em;
    position: absolute;
    bottom: 0;
    /* background-color: aliceblue; */
}

div.preview {
    color: var(--play-col);

}

div.preview weekday evDay evTime{
    color: var(--play-col);
    
}

.preview:hover{
    /* opacity: 0.5; */
    transition: all 2s;
    cursor: pointer;
}

.preview{
    transition: all 2s;
    color: var(--play-col);
}

@media only screen and (max-width: 600px) {
    .preview{
        height: auto;
        width: 100%;
        overflow: scroll;
    }
}

li { list-style-image: url("../../Images/Svg/welleInc.svg"); } 