.nextup{
    grid-area: nextup;
    background-color: aqua;
    width: 30em;
    min-height: 30em;
    /* height: 16em; */

}

.preview{
    font-size: 1em;
    position: absolute;
    bottom: 0;
    /* background-color: aliceblue; */
}

li { list-style-image: url("../../Images/Svg/welleInc.svg"); } 